<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_date %>
    <%= f.date_select :from_date %>
  </div>

  <div class="field">
    <%= f.label :to_date %>
    <%= f.date_select :to_date %>
  </div>

  <div class="field">
    <%= f.label :owner_rating %>
    <%= f.number_field :owner_rating %>
  </div>

  <div class="field">
    <%= f.label :owner_comments %>
    <%= f.text_area :owner_comments %>
  </div>

  <div class="field">
    <%= f.label :rentor_rating %>
    <%= f.number_field :rentor_rating %>
  </div>

  <div class="field">
    <%= f.label :rentor_comments %>
    <%= f.text_area :rentor_comments %>
  </div>

  <div class="field">
    <%= f.label :rent_status %>
    <%= f.check_box :rent_status %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :item_id %>
    <%= f.text_field :item_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
