<p id="notice"><%= notice %></p>

<h1>Confirmed Bookings</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Item</th>
      <th>From date</th>
      <th>To date</th>
      <th>Rent status</th>
      <th>created_ts</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.user.profile.last_name %></td>
        <td><%= booking.user.profile.first_name %></td>
        <td><%= booking.item.item_type %></td>
        <td><%= booking.from_date %></td>
        <td><%= booking.to_date %></td>
        <td><%= booking.rent_status %></td>
        <td><%= booking.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Booking', new_booking_path %>
