<p id="notice"><%= notice %></p>

<h1>Items
  <% if @itemowner != 'y' %>
    Renting service
    <% @itemowner = 'n' %>
  <% else %>
    Owner services
  <% end %>
</h1>

 <% if @itemowner != 'y' %>
    <%= form_tag items_path, method: "get" do %>
          <select name = "item_filter" >
            <% @itemtypes.each do |type| %>
              <option value="<%= type %>" >
                <%= type %>
              </option>
            <% end %>
          </select>
          <input type="Submit" value="Filter" />
    <% end %>
  <% end %>

  <%= form_tag shortlist_bookings_path, method: "get" do %>
    <fieldset>
    <% if @itemowner != 'y' %>
      <legend>Check <strong>'Short list'</strong> before hitting submit <button type="submit">Submit</button></legend>
      <p>The following Items are available between <%= @fromdates %> and <%= @todates %> (<%= (@todates - @fromdates).to_i %> days) </p>
    <% end %>

    <% if @itemowner == 'y' %>
      <p>Total Item count: <%= @items.count %> </p>
    <% end %>

    <table>
      <thead>
        <tr>
        <% if @itemowner != 'y' %>
          <th>Short list</th>
        <% end %>
          <th>Item type</th>
          <th>Description</th>
          <th>Show image</th>
          <th>Cost</th>
          <th>Cost durations</th>
        <% if @itemowner == 'y'  %>
          <th>Attainability</th>
          <th colspan="2"></th>
        <% end %>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
          <% if @itemowner != 'y'  %>
            <td> <input type="checkbox" name="select_shortlist[]" value="<%= item.id %>" /> </td>
          <% end %>

            <td><%= item.item_type %></td>
            <td><%= item.description %></td>
            <td><%= item.show_image %></td>
            <td><%= item.cost %></td>
            <td><%= item.cost_durations %></td>
          <% if @itemowner == 'y'  %>
            <td><%= item.attainability %></td>
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </fieldset>

<% end %>

<br>
