<p id="notice"><%= notice %></p>

<h1>What Category of item are you looking for?</h1><hr>
<h2> Before Submitting enter your From and To dates and Check the Category </h2>
<% @fromdate = Time.now.to_date %>
<p>From Date:  <%= from_dates = date_select("my_date", "my_date", :default => @fromdate) %>
<% @todate = Time.now.to_date + 7 %>
To Date: <%= to_dates = date_select("my_date", "my_date", :default => @todate) %> </p><br><hr>

<%= form_tag(items_path, method: "get") do %>
  <fieldset>
    <legend>Check the categories before hitting Submit => <button type="submit">Submit</button></legend>
<p> items that are available between <%=from_dates %> and <%= @todate %>  </p>
    <table>
      <thead>
        <tr>
          <th>Check</th>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td> <input type="checkbox" name="select_cat[]" value="<%= category.id %>" /> </td>
            <td><%= category.category_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>

<% end %>
<br>

<%#= link_to 'New Category', new_category_path %>
