<p id="notice"><%= notice %></p>

<h1>Choose from Categories</h1>
<%= form_tag(items_path, method: "get") do %>
  <fieldset>
    <legend>Choose your category and then hit submit <button type="submit">Search</button></legend>

    <table>
      <thead>
        <tr>
          <th>Check</th>
          <th>Type</th>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td> <input type="checkbox" name="select_cat[]" value="<%= category.id %>" /> </td>
            <td><%= category.category_type %></td>
            <td><%= category.category_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>

<% end %>
<br>

<%#= link_to 'New Category', new_category_path %>
