<p id="notice"><%= notice %></p>

<h1>Select at least one Category from list Below</h1><hr>

<%= form_tag(items_path, method: "get") do %>
  <fieldset>
    <legend><h2>Before Submitting Enter From and To dates </h2></legend>
    <% @fromdates = Time.now.to_date %>
    <% @todates = Time.now.to_date + 7 %>
    <p>Rental From Date:  <%= date_select "from_dates", @fromdates, :default => @fromdates %>
       To Date: <%= date_select :to_dates, @todates, :default => @todates  %> </p>
    <button type="submit">Submit</button>
    <br>
    <table>
      <thead>
        <tr>
          <th>Check</th>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td> <input type="checkbox" name="select_cat[]" value="<%= category.id %>" /> </td>
            <td><%= category.category_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>

<% end %>
<br>

<%#= link_to 'New Category', new_category_path %>
